@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 3, 105, 161;
  --background-end-rgb: 51, 170, 224; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 17, 26, 34; 
    --background-end-rgb: 45, 151, 199;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

/* Utilidad personalizada para texto equilibrado */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
